<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Consulta de datos - Persona</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Inicio de la aplicacion</h1>
        <table border="1"> 
            <thead>
                <tr>
                    <th> Identificacion </th>
                    <th> Nombre </th>
                    <th> Apellido </th>
                    <th> Telefono </th>
                    <th> Email </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="persona:${personas}">
                    <td th:text="${persona.idPersona}"></td>
                    <td th:text="${persona.nombre}"></td>
                    <td th:text="${persona.apellido}"></td>
                    <td th:text="${persona.email}"></td>
                    <td th:text="${persona.telefono}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
